.add-office-button {
  border-radius: 100px;
  font-family: inter-400, 'Times New Roman', Times, serif;
  height: 48px;
  width: 232px;
  margin: 24px;
  background: #489DDA;
  border: none;
  color: #F8FAFC;
  text-transform: uppercase;
  font-size: 14px;
}

.add-office-button:active {
  background-color: #E5E5E5;
  border: 1px solid #489DDA;
  border-width: 1px;
  color: #489DDA;
}

.office-colour-header {
  margin: 1em 0;
}