.add-button{
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: #0D4477;
  outline: none;
  border: none;
  position: fixed;
  bottom: 24px;
  right: 17px;
  cursor: pointer;
  z-index: 1;
}

@media only screen and (min-width: 992px) {
  .add-button{
    height: 90px;
    width: 90px;
    bottom: 50px;
    right: 5%;
  }
}

.add-button:active{
  background: #368dde;
}